*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1 {
    color:white;
    font-family: 'Poiret One', cursive;
    text-align: center;
    letter-spacing: 2px;
    border:3px solid white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 2rem 5rem;
}

@keyframes change{
    0%{
        background-position:0 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0 50%;
    }
    
}
a{
    text-decoration: none;
    color: white;
}

p{
    color:white;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 300%;
    letter-spacing: 1px;
    border:3px solid #ff9e00;
    position:absolute;
    top: 70%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 2rem 5rem;
}

section{
    height: 100vh;
    width: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #ff6d00, #ff8500, #ff9e00, #240046, #3c096c, #5a189a);
    background-size: 400% 400%;
    position: relative;
    animation: change 15s ease-in-out infinite;
}

.gradient{
    height: 100vh;
    background-image: rgb(255,158,0);
    background-image: linear-gradient(-45deg, #ff9e00 0%, #ff8500 50%, #3c096c 100%);
}

h2{
    color:white;
    font-family: 'Poiret One', cursive;
    text-align: center;
    letter-spacing: 2px;
    font-size: 300%;
    text-decoration: underline;
    text-decoration-color:#3c096c;
    position:absolute;
    top: 53%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 2rem 5rem;
}

img{
    border: 2px solid white;
    width:20%;
    height:auto;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:5%;
}
button{
    all: unset;
    position:relative;
    top: 40%;
    left: 33%;
    padding-right:50px;
    cursor: pointer;
    
}
button::after{
    content:'';
    left: -11px;
    top: -10px;
    width:calc(500% + 20px);
    height:calc(50% + 5px);
}

button::before{
    content:'';
    left: -11px;
    top: -10px;
    width:calc(100% + 20px);
    height:calc(50% + 5px);

}

button div{
    position: relative;
    display: inline-block;
    overflow:hidden;
    width:auto;
    height:auto;
    padding:15px 0;
    background:#ff6d00;
}
button div::after{
    content:'';
    position:absolute;
    right:0;
    bottom:0;
    width:5px;
    height:5px;
    background:#ff6d00;
    transition:0.4s;
}

button:hover div::after{
    background:#3c096c;
}
button div span{
    position: absolute;
    width:120%;
    height: 110%;
    transform: translate(-100%, -20px);
    background:#3c096c;

    transition: 0.4s;
}
button:hover div span{
    transform: translate(-10%, -20px);
}
button div a{
    position:relative;
    text-decoration: none;
    color:white;
    font-family: 'Poiret One', cursive;
    letter-spacing: 2px;
    font-size:14px;
    font-weight:bold;
    padding: 20px 80px;
}

.CVpos{
    display: block;
    margin-left:auto;
    margin-right:auto;
    top:10%;
    width:28%;
}

.back{
    top: 4%;
    left: 36%;
}