body {
    background-color: black;
}

h1 {
    color: limegreen;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: white;
}

p{
    color:white;
    text-align:center;
}