*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1 {
    color:white;
    font-family: 'Poiret One', cursive;
    text-align: center;
    letter-spacing: 2px;
    border:3px solid white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 2rem 5rem;
}

@keyframes change{
    0%{
        background-position:0 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0 50%;
    }
    

}

p{
    color:white;
    text-align:center;
    
}

section{
    height: 100vh;
    width: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #ff6d00, #ff8500, #ff9e00, #240046, #3c096c, #5a189a);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out 1;
}