body {
    background-color: black;
}

h1 {
    color: limegreen;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: white;
    font-family:Arial;
    font-size: large;
}

p{
    color:white;
    text-align:center;
    
}